:root {
  --primary: rgb(115, 53, 216);
}

.btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}

.btn--primary {
  background-color: var(--primary);
  color: #795799;
  border: 1px solid var(--primary);
  outline: #fff;
}

.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn-medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn-large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--mobile {
  text-align: center;
  border-radius: 4px;
  width: 50%;
  text-decoration: none;
  font-size: 24px;
  background-color: transparent;
  color: rgb(40, 13, 83);
  padding: 14px 20px;
  border: 1px solid #fff;
  transition: all 0.3s ease-out;
}


.btn--wide {
  padding: 20px 64px;
  font-size: 20px;
  align-items: center;

}


.btn--large:hover, .btn--medium:hover, .btn--mobile:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color:#4a5c8f;
}

.btn-wide:hover{
  color: #1c0849;
  background-color: linear-gradient(45deg, #1c0849 0%, #c7b4f0 100%);
  transition: all 0.3s ease-out;
}





.primary {
  background-color: linear-gradient(45deg, #38187c 0%, #ecdee1 100%);
  color: #fff;
  border: none;

}

.primary:hover {
  background-color: linear-gradient(45deg, #251053 0%, #3c2485 100%);
  color: #2f1052;
  border: none;
}

.blue {
  background-color: #644e88;
  color: #fff;
  border: none;
}



.green:hover {
  background-color: #242424;
}

.btn-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 8px 16px;
  height: 100%;
  width: 100%;
}

.btn-link {
  display:flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 8px 16px;
  height: 100%;
  width: 100%;
}