.wrapper-personal {
  display: flex;
  background-color: cornflowerblue;
  font-size: 10px;

}

.personal_section {
display: flex;
text-align: center;
justify-content: center ;

}



.h2 {
  display: flex;
  margin-left: 20px;

}

