.wrapper-personal {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 auto;
}
.personal_section {
  padding: 100px 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(45deg, #7d12e0 0%, #9973e9 100%);

}

.personal_heading {
display: flex;
text-align: center;
justify-content: center ;
}

.personal-plan1 {
justify-content: left;
flex-direction: column;
height: 500px;
padding: 24px;
align-items: center;
display: flex;
}

.workout-plans-sheet {
  background: linear-gradient(45deg, #7c3eb6 0%, #b199e4 100%);
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.2);
  width: 280px;
  height: 500px;
  text-decoration: none;
  border-radius: 4px;
}

.workout-plans-sheet:nth-child(2) {
  transform: scale(1.05);
  background: #32176d;
}

.h2 {
  display: flex;
  margin-left: 20px;
}

